

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Selected A Genre</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/guitar.png" alt="guitar"></a>

          <h3>Country</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/audio.png" alt="audio"></a>

          <h3>Hip hop</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/handguitar.png" alt="guitar"></a>

          <h3>Indie</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/saxophone.png" alt="saxophone"></a>

          <h3>Jazz</h3>
        </div>
      </div>
      <!-- What the section used to have in it
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
              <h3>Made with Love</h3>
              <p class="text-muted">You have to make your websites with love these days!</p>
          </div>
      </div> -->
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/horns.png" alt="metal"></a>

          <h3>Metal</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/headphones.png" alt="headphones"></a>

          <h3>Pop</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/micstand.png" alt="micstand"></a>

          <h3>RnB</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/drums.png" alt="drums"></a>

          <h3>Rock</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <div class="service-box">
          <a href="#"><img src="img/icons/record.png" alt="record"></a>

          <h3>Other</h3>
        </div>
      </div>
    </div>
  </div>

</section>

<!--<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Featured Artists</h2>
        </div>
    </div>
</aside> -->

<section class="no-padding bg-dark" id="portfolio">
  <div class="container featured-artists">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Featured Artists</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-5 col-sm-6 col-md-offset-1">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/asap.png" class="img-responsive" alt="">

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Hip hop
              </div>
              <div class="project-name">
                ASAP Rocky
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-5 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/khaled.png" class="img-responsive" alt="">

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Country
              </div>
              <div class="project-name">
                Khaled
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-5 col-sm-6 col-md-offset-1">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/MG.png" class="img-responsive" alt="">

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                RnB
              </div>
              <div class="project-name">
                Marvin Gaye
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-5 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/mo.png" class="img-responsive" alt="">

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Rock
              </div>
              <div class="project-name">
                ILoveMakonnen
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <hr class="primary">
        <p>Contact us any time, day or night.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x wow bounceIn"></i>

        <p>123-456-678</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>

        <p><a href="mailto:your-email@your-domain.com">contactus@purelyrics.com</a></p>
      </div>
    </div>
  </div>
</section>
